.block_ace .chart-table {
    display: none;
}

#page-content .block_ace .graphimage {
    width: 100%;
}

#page-content .block_ace .textlink {
    display: block;
    margin: 15px auto 0 auto;
    width: fit-content;
    border: 1px solid #54959a;
    background-color: #54959a;
    color: #fff;
    border-radius: 4px;
    padding: .375rem .75rem;
}

#page-content .block_ace .textlink:hover,
#page-content .block_ace .textlink:focus {
    color: #000;
    border-color: #000;
    background-color: #fff;
    text-decoration: none;
}

#page-content #block_ace-switchgraph {
    color: #006bae;
    background-color: transparent;
    border: none;
    border-radius: 0;
    line-height: 1.2rem;
    margin: 0 auto;
    text-align: center;
    padding: 2px 0 0 0;
}

#page-content #block_ace-switchgraph:hover,
#page-content #block_ace-switchgraph:focus {
    text-decoration: underline;
}

/* ACE engagement analytics - graph side column*/
#page-content [data-region="blocks-column"] .block_ace .chartjs-render-monitor {
    height: 100% !important; /* stylelint-disable-line declaration-no-important */
    width: 100% !important; /* stylelint-disable-line declaration-no-important */
}

/* ACE engagement analytics - graph block in main region */
#page-content #region-main .block_ace .card-body {
    margin-left: auto;
    margin-right: auto;
}

#page-content #region-main .block_ace .chartjs-render-monitor {
    max-width: 720px !important; /* stylelint-disable-line declaration-no-important */
}

#page-content #region-main .block_ace #chart-area-engagement .chart-image {
    display: flex;
    justify-content: flex-end;
}

#page-content #region-main .block_ace .px-2 {
    padding-right: 0 !important; /* stylelint-disable-line declaration-no-important */
}

#page-content #region-main .block_ace .useranalytics .nav-tabs {
    margin-top: -0.8rem;
}

#page-content #region-main .useranalytics h3.coursename {
    display: flex;
    justify-content: center;
    font-size: 1.1rem;
}

#page-content #region-main .useranalytics .nav-tabs .nav-link {
    padding: 0.5rem 2.5rem !important; /* stylelint-disable-line declaration-no-important */
}

#page-content #region-main .block_ace #chart-filter-options h3 {
    font-size: 1rem;
}

/*ACE engagement analytics filter - date picker*/

#page-content .block_ace input#date-range .form-control:disabled,
.block_ace .form-control[readonly] {
    color: #000 !important; /* stylelint-disable-line declaration-no-important */
    border: 1px solid #ced4da !important; /* stylelint-disable-line declaration-no-important */
    width: 70%;
}

#page-content .block_ace input#date-range .form-control:disabled,
.block_ace .form-control[readonly]:hover,
#page-content .block_ace input#date-range .form-control:disabled,
.block_ace .form-control[readonly]:focus,
#page-content .block_ace input#date-range .form-control:disabled,
.block_ace .form-control[readonly]:active {
    cursor: pointer;
    background-color: #d3d9df !important; /* stylelint-disable-line declaration-no-important */
}

/* Hide user icon on user dashboard pages - not really part of the block, but easier to include in here. */
.path-veloxnet-dashboard #page-header .page-header-image {
    display: none;
}

/* ACE engagement analytics - header message and contact button */
.path-veloxnet-dashboard #page-header .header-button-group {
    display: none !important; /* stylelint-disable-line declaration-no-important */
}

/* ACE engagement analytics - header message and contact button */
.path-veloxnet-dashboard #page-header .page-context-header .page-header-headings {
    margin-top: 0;
}

#page-content #region-main .block_ace .card-title {
    display: none !important; /* stylelint-disable-line declaration-no-important */
}

#page-content #region-main .block_ace .card-text {
    margin-top: 0 !important; /* stylelint-disable-line declaration-no-important */
}

.block_ace-card-title {
    display: block;
    text-align: center;
    margin: 0 0 1rem 0;
    font-size: 1.3rem;
}
